.ProjectCard {
  margin: 5rem 5% 1rem 5%;
  height: 28rem;
}

.ProjectCard__title {
  color: '#fff';
  height: 20rem;
  background: url('https://image.ibb.co/hvunrn/screencapture_lambda_notes_b2b43_firebaseapp_2018_04_13_17_12_04.png') center no-repeat;
  background-size: 20rem;
}
