
/* header color */
.header-color {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(29, 47, 68), rgb(15, 23, 39)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Landing pagecolor */
.Content {
  display: flex;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(42, 64, 88), #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;

  /* center everything */
  text-align: center;
  margin: -3rem 0 0 0 !important;
  height: 100%;
  min-height: 800px;
}


/* Landing page Image */
.avatar-img {
  margin: 4rem 0 0 0;
  height: 260px;
  border-radius: 50%;
}

/* text title */

.title-text {
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.title-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.title-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}


.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto ;
}

.social-links i {
  color:  white;
  font-size: 5em;
  padding: 8px;
}


.material-icons {
  color:  black;
}
