
/* header color */
.header-color {
  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(29, 47, 68), rgb(15, 23, 39)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Landing pagecolor */
.landing-grid{
  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /* center everything */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Landing page Image */
.avatar-img {
  height: 260px;
  padding-top: 5em;
}

/* text title */

.title-text {
  background-color: rgba(31, 35, 71, 0.479);
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.title-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.title-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}


.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto ;
}

.social-links i {
  color:  white;
  font-size: 5em;
  padding: 8px;
}


.material-icons {
  color:  black;
}

.projects-grid{
  display: flex;
  background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


